@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dim-grey: #939CAA;
    --white: #FFFFFF
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.primary-btn {
    padding: 15px 25px;
    background-color: var(--yellow);
    color: var(--white);
    border: 1px solid var(--yellow);
    font-family: Space Mono;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
}

.primary-btn:hover {
    background-color: var(--white);
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.heading {
    font-family: Space Mono;
    font-weight: 700;
}

.paragraph {
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: var(--dim-grey);
}



/* Navbar */
#header {
    padding: 22px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 50px;
}

.nav-link {
    color: var(--dim-grey);
    font-family: Space Mono;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-right: 30px;
}

/* HERO */
#hero {
    background-image: url('./assets/images/hero-back.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-h {
    max-width: 500px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--white);
    margin-bottom: 30px;
}

.hero-p {
    max-width: 405px;
    color: var(--white);
    margin-bottom: 30px;
}

.hero-content-desc {
    padding: 0 100px;
    position: relative;
}

.hero-circles,
.hero-indicator,
.hero-line {
    position: absolute;
}

.hero-indicator,
.hero-line {
    top: 42px;
}

.hero-indicator {
    right: 100px;
}

.hero-line {
    left: calc((1200px - 100vw) / 2 - 20px);
}

.hero-circles {
    bottom: 0;
    right: calc((1200px - 100vw) / 2 - 12px)
}

/* PROCESS */
#process {
    padding: 100px 0;
}

.process-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.card-img {
    background-color: var(--yellow);
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.card-h {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    margin-bottom: 30px;
}

/* BENEFIT-EASY */

#benefit-easy,
#benefit-near, #benefit-hussle {
    position: relative;
    padding-bottom: 100px;
}

.benefit-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefit-left {
    max-width: 450px;
}
.benefit-right img {
    max-width: 445px;
    border-radius: 50%;
}
.benefit-content h3 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: var(--dark-navy);
    margin-bottom: 30px;
}

.benefit-content p {
    margin-bottom: 40px;
}


.right-round,
.right-ind {
    position: absolute;
    right: 0;
}

.right-ind {
    bottom: 100px;
}

/* benefit-near */

.benefit-near {
    flex-direction: row-reverse;
}

.left-round,
.left-ind {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
.left-ind {
    left: -300px;
    transform: rotate();
}